*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(170, 212, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 10px;
    height: 100px;
    border-radius: 20px;
    font-family: monospace;
    background-color: #a2a2ff;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: black;
}