@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    align-content: center;
    align-items: center;
    justify-content: center;

}
.main-container{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.product-container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: repeat(4);
    padding: 10px;
    justify-content: center;
    align-content: flex-start;
    justify-items: center;
    background-color: #f5ecff;
    overflow-y: scroll;
}

.card{
    width: 180px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    padding:12px 15px;
    margin: 10px 10px;
    background-color: #f4efff;
    box-shadow: .5px .5px 5px #8f8f8f;
}
.card:active{
    background-color:#cfccd4;
}
.prod-img{
    width: 190px;
    height: 140px;
    border-radius: 7px;
    object-fit: fill;
}
.card-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
}

.card-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.itemName{
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
}

.pricing{
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    width: 180px;
}

.btn{
    background-color: #000;
    font-size: 20px;
    border-radius: 20px;
    color: #fff;
    padding: 3px 10px;
    cursor: pointer;
    user-select: none;
}
.btn:active{
    background-color: #3e216b;
    
}

/* cart area */
.cart-container{
    width: 30%;
    height: 100vh;
    background-color: #e7e2ff;
    box-shadow: 2px 2px 10px 3px #b4b4b4;
}
.cart-top{
    height: 90%;
    overflow-y: scroll;
    background-color: #e7e2ff;
    box-shadow: 2px 2px 10px 3px #b4b4b4;
    visibility: visible;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
}

.cartTop{
    width: 90%;
    height: 90%;
}

.cart-item{
    display: flex;
    padding-top: 20px;
    width: 90%;
    height: 70px;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    background: #e4d0ff;
    margin-bottom: 5px;
}
.cart-item:first-child{
    margin-top: 10px;
}
.cart-info{
    width: 100%;
    display: flex;
    justify-content:space-between;
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    font-weight: 900;
    color: #000000;
}
.ns{
    font-size: 30px;
    margin-top: 280px;
    width: auto;
    color: #8f8f8f;
    user-select: none;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
}
.itemPrice{
    display: flex;
    font-family: "Roboto Mono", monospace;
    justify-content: space-between;
    margin-top: 10px;
}
.itemQuantity{
    background: #a041ff;
    width: 60px;
    padding: 5px 7px;
    justify-content: center;
    text-align: center;
    outline: none;
    border: .5px solid #d2b0ff;
    border-radius: 15px;
    color: #f4edfc;
    font-weight: bolder;
    margin-left: 5px;
}
.itemQuantity:focus{
    border: 2px solid #000;
}
.itemTotal{
    background-color: #d9bcff;
    padding: 5px 7px;
    border-radius: 15px;
    color: #000000;
    margin-right: 20px;
    font-weight: bolder;
}
.change{
    display: flex;
    flex-direction: row;
}
.remove{
    padding: 3px 10px;
    font-size: 20px;
    border-radius: 15px;
    color: #f4edfc;
    font-weight: bolder;
    user-select: none;
    cursor: pointer;
    margin-left: 5px;
    background: #000;
}

.add{
    background: #000;
    padding: 3px 10px;
    font-size: 20px;
    border-radius: 15px;
    color: #f4edfc;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
    margin-left: 5px;
}

.delete{
    padding: 3px 10px;
    font-size: 20px;
    border-radius: 15px;
    color: #f4edfc;
    font-weight: bolder;
    user-select: none;
    cursor: pointer;
    margin-left: 5px;
    background: #ff3d3d;
}

.add:active{
background-color: #ff6476;
}
.remove:active{
background-color: #64b1ff;
}
.cart-bottom{
    height: 10%;
}
.checkout{
    width: 100%;
    height: 100%;
    box-shadow: .5px 1.5px 10px #8f8f8f;
    background-color: #f0e2ff;
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}
.total{
    margin-left: 15px;
    /* background-color: #d9bcff; */
    padding: 10px;
    border-radius: 5px;
}
.tax{
    font-size: 12px;
    font-family: serif;
    font-weight: 300;
    font-style: italic;
}
.checkbtn{
    margin-right: 20px;
    background-color:#ffb638;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    user-select: none;
    pointer-events: auto;
}
.checkbtn:active{
    background-color: #3e216b;
    color: #f4edfc;
}
.deleteAll{
    position: fixed;
    bottom: 12vh;
    right: 25px;
    user-select: none;
    font-weight: 900;
    font-size: 15px;
    font-family: "Roboto mono", monospace;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    background-color: #ff2740;
    border-radius: 30px;
}

.deleteAll:active{
background-color: #e226ff;
}
.deleteAll:hover{
    border: 3px solid #282828;
    padding: 12px;
}

.search-box {
    position: fixed;
    top: 25px;      
    left: 25px;      
    background: #fff;
    height: 50px;
    width: 50px; 
    border-radius: 40px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px #b4b4b4;
    transition: 0.4s;
    z-index: 1000;
    overflow: hidden;
}

.search-box:hover, 
.search-box:focus-within {
    width: 250px; /* Expands when hovered or clicked */
    background: #f4efff;
}

.btn-search {
    padding: 15px;
    border-radius: 30px;
    margin-left: 20px;
    font-size: 20px;
    background: #a041ff;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.input-search {
    border: none;
    background: none;
    outline: none;
    padding: 0 10px;
    color: #3e216b;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    width: 0px; /* Hidden by default */
    transition: 0.4s;
}

.search-box:hover .input-search,
.search-box:focus-within .input-search {
    width: 200px; /* Show text box on hover */
}


/* scrollbar experimental all gemini code here */
/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* The track (background) */
::-webkit-scrollbar-track {
    background: #f0e2ff; /* Light lavender to match your theme */
    border-radius: 4px;
}

/* The thumb (the part you drag) */
::-webkit-scrollbar-thumb {
    background: #d2b0ff; /* Darker purple */
    border-radius: 4px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
    background: #a041ff; /* Bright purple when clicked/hovered */
}