@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    align-content: center;
    align-items: center;
    justify-content: center;

}
.main-container{
    display: flex;
    width: 100vw;
    height:100vh;
}
.product-container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: repeat(4);
    padding: 10px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    background-color: #f5ecff;
    overflow-y: scroll;
}

.card{
    width: 180px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding:12px 15px;
    margin: 10px 10px;
    background-color: #f4efff;
    box-shadow: .5px .5px 5px #8f8f8f;
}
.prod-img{
    width: 190px;
    height: 140px;
    border-radius: 7px;
    object-fit: fill;
}
.card-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 110px;
}

.card-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
.itemName{
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
}

.pricing{
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    width: 180px;
}

.btn{
    background-color: #000;
    font-size: 20px;
    border-radius: 20px;
    color: #fff;
    padding: 3px 10px;
    cursor: pointer;
    user-select: none;
}
.btn:active{
    background-color: #3e216b;
    
}

/* cart area */
.cart-container{
    flex: 3;
    height: 100%;
    overflow-y: scroll;
    background-color: #e7e2ff;
    box-shadow: 2px 2px 10px 3px #b4b4b4;
    visibility: visible;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
}

.cartTop{
    width: 100px;
    height: 70%;
}

.cart-item{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    background: #e4d0ff;
    margin-bottom: 5px;
}
.cart-info{
    width: 100%;
    display: flex;
    justify-content:space-around;
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    font-weight: 900;
    color: #000000;
}
.ns{
    font-size: 30px;
    margin-top: 280px;
    width: auto;
    color: #8f8f8f;
    user-select: none;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
}
.itemPrice{
    display: flex;
    font-family: "Roboto Mono", monospace;
    justify-content: space-between;
    margin-top: 10px;
}
.itemQuantity{
    background: #a041ff;
    padding: 5px 7px;
    border-radius: 15px;
    color: #f4edfc;
    font-weight: bolder;
    margin-left: 5px;
}
.itemTotal{
    background-color: #d9bcff;
    padding: 5px 7px;
    border-radius: 15px;
    color: #000000;
    margin-right: 20px;
    font-weight: bolder;
}
.change{
    display: flex;
    flex-direction: row;
}
.remove{
    padding: 3px 10px;
    font-size: 20px;
    border-radius: 15px;
    color: #f4edfc;
    font-weight: bolder;
    user-select: none;
    margin-left: 20px;
    background: #000;
}

.add{
    background: #000;
    padding: 3px 10px;
    font-size: 20px;
    border-radius: 15px;
    color: #f4edfc;
    font-weight: bolder;
    user-select: none;
    margin-left: 5px;
}
.add:active{
background-color: #ff6476;
}
.remove:active{
background-color: #64b1ff;
}